// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #336633;

// ----------------------------------------------------------------------------
// Widget-mantra styles
// ----------------------------------------------------------------------------
.widget-go-train {
  background-color: $background-color;
  position: relative;

  .logo img {
    width: 35%;
    height: 14%;
    margin: auto;
    margin-bottom: 20px;
  }

  .info_text {
  	font-size: 14px;
  	position: absolute;
	bottom: 5px;
	right: 5px;
  }
}
