$background-color:  #343434;

.widget-event {
}

.centered {
  position: absolute;
  left: 0; right: 0;
  margin:auto;
}

#select {
  @extend .centered;
}

#selectStyle {
  background-color: white;
  border-radius: 7px;
	text-indent: 0.01px;
  text-overflow: "";
	color: #000;
  border: 0 !important;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#roomSelect {
  @extend #selectStyle;
  padding: 8px;
  width: 170px;
  height: 40px;
  font-size: 20px;
  background: white url(/assets/select-arrow.png) no-repeat 95% center;
}

#roomSwitch {
  @extend #selectStyle;
  padding: 5px;
  width: 80px;
  height: 30px;
}

#roomSwitch:hover {
  background-color: rgba(255,255,255,0.7);
}

#table {
  @extend .centered;
  margin-top: 50px;
  padding: 10px;
}

.cell {
  position: relative;
  display:inline-block;
  vertical-align: top;
  height: 150px;
  width: 300px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  background-color: #1AA498;
  border: 2px solid white;
}

.cell:hover {
  background-color: #00786e;
}

.bottom-dash-border {
  border-bottom: 1px dotted white;
}

.organizer {
  position: absolute;
  top: 40%;
  bottom: 60%;
  left: 0;
  right: 0;
  margin: auto;
}

.time {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  width: 90%;
  border-top: 1px dotted white;
  margin: auto;
}

.status {
  @extend .centered;
  bottom: 25%;
  height: 200px;
  width: 90%;
  border-radius: 5px;
  border: 2px solid white;
  margin: auto;
  font-size: 60px;
}

.status #hoverbar {
  position: absolute;
  z-index:100;
  width: 350px;
  margin-top: 20px;
  padding: 10px;
  border: 2px solid white;
  background-color: rgba(0, 120, 110, 0.7);
  color: white;
  visibility: hidden;
  border-radius: 5px;
  border: 2px solid white;
  margin: auto;
  font-size: 60px;
}

.status #hoverbar {
  position: absolute;
  z-index:100;
  width: 350px;
  margin-top: 20px;
  padding: 10px;
  border: 2px solid white;
  background-color: rgba(0, 120, 110, 0.7);
  color: white;
  visibility: hidden;
}

.status:hover #hoverbar {
  visibility: visible;
}

.green {
  @extend .status;
  background-color: green;
}

.yellow {
  @extend .status;
  background: #fbec79;
  color: #3c3d42;
}

.red {
  @extend .status;
  background: #BD2F00;
}

#booking {
  // text-decoration: underline;
  position: absolute;
  top: 80px;
  left: 0; right: 0;
  margin:auto;
  background-color: white;
  width: 250px;
  border-radius: 7px;
  color: black;
}

#info {
  display: none;
}

#currentRoom {
  position: absolute;
  display: inline-block;
  bottom: 0;
  right: 0;
  padding-right: 50px;
  font-size: 175px;
}
