.widget-clock {
  background-color: #dc5945;

  white-space: nowrap;

  .date {
    font-size: 39px;
    font-weight: bold;
    padding-bottom: 48px;
  }

  .time {
    font-size: 27px;
    font-weight: bold;
  }

  .city {
    font-size: 25px;
  }
}
