// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #ffe846;
$red: rgb(233, 0, 19);
$yellow: rgb(255, 233, 0);
$blue: rgb(0,155,238);

// ----------------------------------------------------------------------------
// Widget-calendar styles
// ----------------------------------------------------------------------------
.widget-bart {
  background-color: #FFBB00;
  color: black;
  padding: 0 !important;
  overflow: hidden;

  img.logo {
    width: 125px;
  }

  display: table-cell;
  vertical-align: bottom !important;

  .data {
    padding: 5px;
    height: 236px;

    table {
      th, td {
        padding: 0;
        max-width: 10em;
        overflow: hidden;
      }
      th {
        text-align: right;
        font-size: smaller;
        white-space: nowrap;

        span {
          padding: 0.1em 0.5em;
          border-radius: 0.5em;
          margin: 1px 0;
          width: 89%;
          display: block;
          border: solid 1px black;
          color: black;
          &.Fremont {
            background: rgb(61,176,50);
          }
          &.Daly.City, &.Mission {
            background: linear-gradient(90deg, $yellow 0%, $yellow 5%,green 5%,green 10%, $blue 10%, $blue 15%, $red 15%, $red 20%, white 20%, white 100%);
          }
          &.SFO {
            background: linear-gradient(135deg, $yellow 0%, $yellow 10%,white 10%,white 20%, $yellow 20%, $yellow 30%,white 30%,white 40%,$yellow 40%,$yellow 50%,white 50%,white 60%, $yellow 60%, $yellow 70%,white 70%,white 100%);
          }
          &.Millbrae {
            background: linear-gradient(135deg, $red 0%, $red 10%,white 10%,white 20%, $red 20%, $red 30%,white 30%,white 40%,$red 40%,$red 50%,white 50%,white 100%);
          }
          &.SFO.then.Millbrae {
            background: linear-gradient(135deg, $red 0%, $red 10%,white 10%,white 20%, $red 20%, $red 30%,white 30%,white 40%,$red 40%,$red 50%,white 50%,white 60%,$yellow 60%, $yellow 70%,white 70%, white 80%,$yellow 80%, $yellow 90%,white 90%, white 100%);
          }
          &.Dublin.Pleasanton {
            background: rgb(0,155,238);
          }
          &.Richmond {
            background: $red;
          }
          &.Pittsburg.Bay.Point, &.Concord {
            background: $yellow;
          }
        }
      }
      td {
        text-align: right;
      }

      .times {
        padding-left: 0.5em;
        &:after {
          content: "m";
        }
        &:first-child {
          padding-left: 0;
        }
      }
    }
  }
}

