// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #dc5945;

// ----------------------------------------------------------------------------
// Widget-image styles
// ----------------------------------------------------------------------------
.widget-new-faces {
  background-color: $background-color;

  img {
    margin: auto;
    display: block;
  }

  .name {
    padding-top: 5px;
  }
  .title {
    font-size: smaller;
  }
}
