// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #07484A;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-menu.widget {

  text-align: left;

  background-color: $background-color;

  .updated-at {
    color: rgba(255, 255, 255, 0.7);
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 64px;
    font-weight: normal;
  }

  ul {
    font-size: 64px;
    margin-bottom: 16px;
    list-style-type: disc;
    list-style-position: inside;
    font-weight: bold;
  }

  li {
    margin-left: 20px;
  }


}
