// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #dc5945;

// ----------------------------------------------------------------------------
// Widget-image styles
// ----------------------------------------------------------------------------
.widget-pivot-faces {
  background-color: $background-color;

  img {
    margin: auto;
    width: 100%;
    display: block;
  }

  .name {
    padding-top: 5px;
    font-size: 1.5em;
    font-weight: bold;
  }

  .title {
    font-size: 1.25em;
    font-weight: bold;
  }
}
