// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #3790A4;

// ----------------------------------------------------------------------------
// Widget-offices styles
// ----------------------------------------------------------------------------
.widget-office-links {
  background-color: $background-color;
  font-size: 1.125em;
  line-height: 200%;
}
