.widget-muni-bus {
  background: white;
  color: black;

  span table.stop {
    border: 0;
    width: 200px;
    table-layout: fixed;
    float: left;

    caption {
      font-weight: bold;
    }

    th {
      background: black;
      color: white;
      margin: 2px;
    }

    td {
      border-right: solid 1px lightgrey;
      &:last-of-type {
        border-right: none;
      }
    }

    tr {
      border: solid 1px lightgrey;
      border-bottom: solid 1px lightgrey;
      &:last-of-type {
        border-bottom: none;
      }
    }


    .time {
      display: inline-block;
      padding-left: 0.5em;
      &:after {
        content: "m";
      }
    }
  }
}
