---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23%23pivotallife%20filter:images%20-RT&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="TWITTER_CONSUMER_KEY", oauth_nonce="876622e1b9cdbd1e0a1d3f5f18fc3fea",
        oauth_signature="0lBkCUQb%2F30VnIlmBDgE3nvBGko%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1453130607", oauth_token="TWITTER_OAUTH_TOKEN", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 18 Jan 2016 15:23:37 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 735cb1349f450803d76d06a89d6d4c42
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1453131482'
      X-Response-Time:
      - '85'
      X-Transaction:
      - db26ffd8f4265841
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Mon
        Jan 18 15:14:49 +0000 2016","id":689103659284713474,"id_str":"689103659284713474","text":"It''s
        back! #pivotallife #meta https:\/\/t.co\/iswAAc5FK0","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":9091732,"id_str":"9091732","name":"Brian
        Kelly","screen_name":"spilth","location":"Brooklyn, NY","description":"Developer,
        gamer, mountain biker, musician and geek. Software Engineer at Pivotal Labs
        NYC.","url":"https:\/\/t.co\/24mWrh0SQ8","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/24mWrh0SQ8","expanded_url":"http:\/\/spilth.org\/","display_url":"spilth.org","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":337,"friends_count":19,"listed_count":24,"created_at":"Tue
        Sep 25 17:19:03 +0000 2007","favourites_count":490,"utc_offset":-18000,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":10708,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"B2DFDA","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme13\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme13\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/683623367627386880\/ShMSrsST_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/683623367627386880\/ShMSrsST_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/9091732\/1451823555","profile_link_color":"93A644","profile_sidebar_border_color":"EEEEEE","profile_sidebar_fill_color":"FFFFFF","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":1,"entities":{"hashtags":[{"text":"pivotallife","indices":[11,23]},{"text":"meta","indices":[24,29]}],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":689103654289305600,"id_str":"689103654289305600","indices":[30,53],"media_url":"http:\/\/pbs.twimg.com\/media\/CZAwH19WcAA1hjc.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CZAwH19WcAA1hjc.jpg","url":"https:\/\/t.co\/iswAAc5FK0","display_url":"pic.twitter.com\/iswAAc5FK0","expanded_url":"http:\/\/twitter.com\/spilth\/status\/689103659284713474\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":255,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":1024,"h":768,"resize":"fit"},"medium":{"w":600,"h":450,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"metadata":{"iso_language_code":"und","result_type":"recent"},"created_at":"Mon
        Jan 18 14:48:18 +0000 2016","id":689096983387238400,"id_str":"689096983387238400","text":"#pivotallife
        https:\/\/t.co\/AIFYSoZV69","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":34241006,"id_str":"34241006","name":"Danny
        Rosen","screen_name":"dannyzen","location":"New York","description":"Product
        Guy @CloudFoundry. Technology enthusiast with a[...]
