---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23%23noonehasusedthisyet%20filter:images%20-RT&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="TWITTER_CONSUMER_KEY", oauth_nonce="50c256d5d4d0981f0bf64c05d0d3fcfa",
        oauth_signature="Qre8XZjLqm%2F%2B663Hqgmlhks2dOI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1453131324", oauth_token="TWITTER_OAUTH_TOKEN", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 18 Jan 2016 15:35:33 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 17bdf82d3ba7d79c83a1eee74913ee25
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '174'
      X-Rate-Limit-Reset:
      - '1453131482'
      X-Response-Time:
      - '58'
      X-Transaction:
      - b1cdb493d8af7cfd
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[],"search_metadata":{"completed_in":0.034,"max_id":689108798800314368,"max_id_str":"689108798800314368","query":"%23%23noonehasusedthisyet+filter%3Aimages+-RT","refresh_url":"?since_id=689108798800314368&q=%23%23noonehasusedthisyet%20filter%3Aimages%20-RT&result_type=recent&include_entities=1","count":100,"since_id":0,"since_id_str":"0"}}'
  recorded_at: Mon, 18 Jan 2016 15:35:24 GMT
recorded_with: VCR 3.0.1
