---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23pivotal%20filter:images&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 21 Aug 2014 17:42:04 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '175'
      X-Rate-Limit-Reset:
      - '1408643699'
      X-Transaction:
      - 161d9e9aedeb29ee
    body:
      encoding: UTF-8
      string: '{"statuses":[{"metadata":{"result_type":"recent","iso_language_code":"en"},"created_at":"Wed
        Aug 20 20:34:59 +0000 2014","id":502192090844266497,"id_str":"502192090844266497","text":"RT
        @boogabee: Andrew No2 giving his talk on where infrastructure and rapid development
        is going @littleidea #pivotal #cloudfoundry http:\/\/t\u2026","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":14694282,"id_str":"14694282","name":"badnima","screen_name":"badnima","location":"cf
        push","description":"Business Development for @CloudFoundry and @gopivotal.
        Sometimes I just want to give it all up and become a handsome millionaire","url":"http:\/\/t.co\/y7QKXnb2Fo","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/y7QKXnb2Fo","expanded_url":"http:\/\/about.me\/badnima","display_url":"about.me\/badnima","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":662,"friends_count":1284,"listed_count":30,"created_at":"Thu
        May 08 01:05:50 +0000 2008","favourites_count":4718,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":5953,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"131516","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/76062743\/esc_large_sts117_sts117-e-6998.JPG","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/76062743\/esc_large_sts117_sts117-e-6998.JPG","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/56876991\/commit_no_nuisance_4jpg_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/56876991\/commit_no_nuisance_4jpg_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/14694282\/1399009332","profile_link_color":"0212BA","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"BFBAFF","profile_text_color":"292929","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"metadata":{"result_type":"recent","iso_language_code":"en"},"created_at":"Tue
        Aug 19 16:54:41 +0000 2014","id":501774262660005888,"id_str":"501774262660005888","text":"Andrew
        No2 giving his talk on where infrastructure and rapid development is going
        @littleidea #pivotal #cloudfoundry http:\/\/t.co\/B9OYsh0Ly1","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","truncated":false,"in[...]
