---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23%23pivotal%20filter:images&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="TWITTER_CONSUMER_KEY", oauth_nonce="34df3cde495aebef73495c70655651a5",
        oauth_signature="u%2Bf%2BLOU1qeDMYuDelWlwXJ%2B72%2FM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1409000930", oauth_token="TWITTER_OAUTH_TOKEN", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 25 Aug 2014 21:09:15 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1409001617'
      X-Transaction:
      - e0ee5639599ec587
    body:
      encoding: UTF-8
      string: '{"statuses":[{"metadata":{"result_type":"recent","iso_language_code":"en"},"created_at":"Mon
        Aug 25 04:36:23 +0000 2014","id":503762789635067905,"id_str":"503762789635067905","text":"#Pivotal
        Expands Its #Enterprise #Cloud Platform To #Mobile http:\/\/t.co\/WURlyEY6C8
        \n#paas @pivotal #tech http:\/\/t.co\/K2o5iTA3tS","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2352964938,"id_str":"2352964938","name":"Amr
        Heikal","screen_name":"Heikal_Amr","location":"Dubai","description":"Customer
        focused HR Director @EMC but tweets are my own. Wannabe photographer. Food
        aficionado. Cigar lover. Internet fan. Proud Egyptian living in Dubai.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":776,"friends_count":609,"listed_count":12,"created_at":"Thu
        Feb 20 09:08:34 +0000 2014","favourites_count":143,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":2277,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/436666684271652864\/sUdyfU9y_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/436666684271652864\/sUdyfU9y_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2352964938\/1399713012","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[{"text":"Pivotal","indices":[0,8]},{"text":"Enterprise","indices":[21,32]},{"text":"Cloud","indices":[33,39]},{"text":"Mobile","indices":[52,59]},{"text":"paas","indices":[84,89]},{"text":"tech","indices":[99,104]}],"symbols":[],"urls":[{"url":"http:\/\/t.co\/WURlyEY6C8","expanded_url":"http:\/\/tcrn.ch\/1tA1XkZ","display_url":"tcrn.ch\/1tA1XkZ","indices":[60,82]}],"user_mentions":[{"screen_name":"pivotal","name":"Pivotal","id":1132876218,"id_str":"1132876218","indices":[90,98]}],"media":[{"id":503762785843441665,"id_str":"503762785843441665","indices":[105,127],"media_url":"http:\/\/pbs.twimg.com\/media\/Bv25la1CcAEFltV.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Bv25la1CcAEFltV.jpg","url":"http:\/\/t.co\/K2o5iTA3tS","display_url":"pic.twitter.com\/K2o5iTA3tS","expanded_url":"http:\/\/twitter.com\/Heikal_Amr\/status\/503762789635067905\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":240,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":467,"h":331,"resize":"fit"},"large":{"w":467,"h":331,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"metadata":{"result_type":"recent","iso_language_code":"und"},"created_at":"Mon
        Aug 25 04:07:49 +0000 2014","id":503755602020294657,"id_str":"503755602020294657","text":"#Pivotal
        http:\/\/t.co\/Z67LyuEBDo","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":587984896,"id_str":"587984896","name":"DjTeazyFresco\u2600\ufe0f","screen_name":"TeazyFresco","location":"Evanston
        illinois","description":"DJ\/GhostWriter F[...]
