---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23%23noonehasusedthisyet%20filter:images&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="TWITTER_CONSUMER_KEY", oauth_nonce="972e4116850fdf988c689c9b2b99c130",
        oauth_signature="L04qprksVOzCiLA3tAIJyJn9AMU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1408991139", oauth_token="TWITTER_OAUTH_TOKEN", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 25 Aug 2014 18:25:38 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '177'
      X-Rate-Limit-Reset:
      - '1408992017'
      X-Transaction:
      - c2bf39db50749c13
    body:
      encoding: UTF-8
      string: '{"statuses":[],"search_metadata":{"completed_in":0.006,"max_id":503971403213717504,"max_id_str":"503971403213717504","query":"%23%23noonehasusedthisyet+filter%3Aimages","refresh_url":"?since_id=503971403213717504&q=%23%23noonehasusedthisyet%20filter%3Aimages&result_type=recent&include_entities=1","count":100,"since_id":0,"since_id_str":"0"}}'
  recorded_at: Mon, 25 Aug 2014 18:25:40 GMT
recorded_with: VCR 2.9.2
