---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23noonehasusedthisyet%20filter:images&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 21 Aug 2014 17:42:04 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '174'
      X-Rate-Limit-Reset:
      - '1408643699'
      X-Transaction:
      - 8dbb340b4de1bb41
    body:
      encoding: UTF-8
      string: '{"statuses":[],"search_metadata":{"completed_in":0.005,"max_id":502510884434882560,"max_id_str":"502510884434882560","query":"%23noonehasusedthisyet+filter%3Aimages","refresh_url":"?since_id=502510884434882560&q=%23noonehasusedthisyet%20filter%3Aimages&result_type=recent&include_entities=1","count":100,"since_id":0,"since_id_str":"0"}}'
  recorded_at: Thu, 21 Aug 2014 17:42:03 GMT
recorded_with: VCR 2.9.2
