---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23%23noonehasusedthisyet%20filter:images&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="TWITTER_CONSUMER_KEY", oauth_nonce="96507b314c13372a070bb276adcd8d2d",
        oauth_signature="pXwDlS5T6AR2feXvr46iIIFVC%2FQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1409000932", oauth_token="TWITTER_OAUTH_TOKEN", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 25 Aug 2014 21:09:15 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '177'
      X-Rate-Limit-Reset:
      - '1409001617'
      X-Transaction:
      - 3658e6711a00ac2b
    body:
      encoding: UTF-8
      string: '{"statuses":[],"search_metadata":{"completed_in":0.009,"max_id":504012577547227136,"max_id_str":"504012577547227136","query":"%23%23noonehasusedthisyet+filter%3Aimages","refresh_url":"?since_id=504012577547227136&q=%23%23noonehasusedthisyet%20filter%3Aimages&result_type=recent&include_entities=1","count":100,"since_id":0,"since_id_str":"0"}}'
  recorded_at: Mon, 25 Aug 2014 21:08:52 GMT
recorded_with: VCR 2.9.2
