---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23%23pivotal%20filter:images%20-RT&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="TWITTER_CONSUMER_KEY", oauth_nonce="9e8f2679595cb4c6eafee348369bf2e9",
        oauth_signature="Ha4ILfIsNgQoMA9u7KdasBQdAHM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1453131311", oauth_token="TWITTER_OAUTH_TOKEN", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 18 Jan 2016 15:35:21 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 7ec4cd03ab3643d561b5f87773a4ded8
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '175'
      X-Rate-Limit-Reset:
      - '1453131482'
      X-Response-Time:
      - '136'
      X-Transaction:
      - 6af0c172d35bd516
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Mon
        Jan 18 13:11:08 +0000 2016","id":689072532209569792,"id_str":"689072532209569792","text":"2nd
        week of @AutoSalonBe. See how #Pivotal transforms @Ford into a Silicon Valley...
        https:\/\/t.co\/hjmnJlgQzM https:\/\/t.co\/6IyDUziq8F","source":"\u003ca href=\"http:\/\/login.voicestorm.com\"
        rel=\"nofollow\"\u003eVoiceStorm\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":27185366,"id_str":"27185366","name":"Sarge
        Siddiqui","screen_name":"Sarge_Siddiqui","location":"Sydney","description":"TAM
        for VMware, based in Australia. My postings are my own and don\u2019t necessarily
        represent VMware\u2019s positions, strategies or opinions.","url":"https:\/\/t.co\/zgGQoP4B2Z","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/zgGQoP4B2Z","expanded_url":"https:\/\/sargesiddiqui.wordpress.com","display_url":"sargesiddiqui.wordpress.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":262,"friends_count":173,"listed_count":13,"created_at":"Sat
        Mar 28 05:22:48 +0000 2009","favourites_count":157,"utc_offset":39600,"time_zone":"Sydney","geo_enabled":false,"verified":false,"statuses_count":2313,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/682390268188831745\/SNTvAr3a_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/682390268188831745\/SNTvAr3a_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/27185366\/1451529553","profile_link_color":"89C9FA","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[{"text":"Pivotal","indices":[34,42]}],"symbols":[],"user_mentions":[{"screen_name":"AutoSalonBe","name":"Auto
        Salon Belgium","id":366571473,"id_str":"366571473","indices":[12,24]},{"screen_name":"Ford","name":"Ford
        Motor Company","id":15676492,"id_str":"15676492","indices":[54,59]}],"urls":[{"url":"https:\/\/t.co\/hjmnJlgQzM","expanded_url":"http:\/\/bit.ly\/1ZvQfpg","display_url":"bit.ly\/1ZvQfpg","indices":[85,108]}],"media":[{"id":689072532079525888,"id_str":"689072532079525888","indices":[109,132],"media_url":"http:\/\/pbs.twimg.com\/media\/CZAT0SsUQAAo4wu.png","media_url_https":"https:\/\/pbs.twimg.com\/media\/CZAT0SsUQAAo4wu.png","url":"https:\/\/t.co\/6IyDUziq8F","display_url":"pic.twitter.com\/6IyDUziq8F","expanded_url":"http:\/\/twitter.com\/Sarge_Siddiqui\/status\/689072532209569792\/photo\/1","type":"photo","sizes":{"medium":{"w":435,"h":218,"resize":"fit"},"large":{"w":435,"h":218,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":170,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Mon
        Jan 18 09:00:12 +0000 2016","id":689009382365900800,"id_str":"689009382365900800","text":"2nd
        week of @AutoSalonBe. See how #Pivotal transforms @Ford into a Silicon Valley
        company https:\/\/t.co\/a8RTYJ9Iw6 https:\/\/t.co\/k9tfeNDV03","source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated[...]
