---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23%23noonehasusedthisyet%20filter:images&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="redacted", oauth_nonce="redacted",
        oauth_signature="redacted", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1408718177", oauth_token="redacted",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 22 Aug 2014 14:36:17 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '174'
      X-Rate-Limit-Reset:
      - '1408718456'
      X-Transaction:
      - 98b89f791dabf18d
    body:
      encoding: UTF-8
      string: '{"statuses":[],"search_metadata":{"completed_in":0.004,"max_id":502826526027837441,"max_id_str":"502826526027837441","query":"%23%23noonehasusedthisyet+filter%3Aimages","refresh_url":"?since_id=502826526027837441&q=%23%23noonehasusedthisyet%20filter%3Aimages&result_type=recent&include_entities=1","count":100,"since_id":0,"since_id_str":"0"}}'
  recorded_at: Fri, 22 Aug 2014 14:36:17 GMT
recorded_with: VCR 2.9.2
