<% content_for :title do %>Default Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="mantra" data-view="Mantra"></div>
    </li>
  </ul>
</div>

