<% content_for :title do %>Default Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="2">
      <div data-id="office_links" data-view="Office_Links"></div>
    </li>
  </ul>
</div>

