<% content_for :title do %>LDN Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="forecast-london" data-view="Forecast"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="clock" data-view="SimpleClock" style="background-color:#A60272;"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#55c4eb;"></div>
      <i class="icon-twitter icon-background"></i>
    </li>
    <li data-row="1" data-col="4" data-sizex="2" data-sizey="1">
      <div data-id="calendar_events_london" data-pre="0" data-view="Calendar" style="background-color:#18cb6e;"></div>
    </li>
  </ul>
</div>

