<% content_for :title do %>NYC Kitchen Dashboard<% end %>

<%# <script type='text/javascript'> %>
<%# $(function() { %>
  <%# Dashing.widget_base_dimensions = [460, 520] %>
  <%# Dashing.numColumns = 4 %>
<%# }); %>
<%# </script> %>


<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="5" data-sizey="2">
      <div data-id="menu-nyc" data-view="Menu"></div>
    </li>
  </ul>
</div>

