<% content_for :title do %>Palo Alto Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="traffic" data-view="Traffic" data-url="http://www.mapquest.com/embed?hk=1fjET6G"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="caltrain" data-view="Caltrain"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#55c4eb;"></div>
      <i class="icon-twitter icon-background"></i>
    </li>
  </ul>
</div>
