<% content_for :title do %>Palo Alto Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="caltrain" data-view="Caltrain"></div>
    </li>
  </ul>
</div>

