<% content_for :title do %>Seattle Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="pivot_faces_sea" data-view="PivotFaces"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="food_trucks_sea" data-view="FoodTrucksSea"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="calendar_events_sea" data-pre="0" data-view="Calendar" style="background-color:#18cb6e;"></div>
    </li>
    <li data-row="1" data-col="5" data-sizex="1" data-sizey="2">
      <div data-id="traffic" data-view="Traffic" data-url="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12624.373747690663!2d-122.33954832445036!3d47.60328279691506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54906aa4e81f689f%3A0x6f218418c4ae7643!2s111+S+Jackson+St%2C+Seattle%2C+WA+98104!5e0!3m2!1sen!2sus!4v1484955291578"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#55c4eb;"></div>
      <i class="icon-twitter icon-background"></i>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="rotating_clock" data-view="RotatingClock"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="forecast-sea" data-view="Forecast"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="5" data-sizey="1">
    </li>
  </ul>
</div>

