<% content_for :title do %>SF Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="pivot_faces_sf" data-view="PivotFaces"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="bart" data-view="Bart"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="calendar_events_sf" data-pre="0" data-view="Calendar" style="background-color:#18cb6e;"></div>
    </li>
    <li data-row="1" data-col="5" data-sizex="1" data-sizey="2">
      <div data-id="traffic" data-view="Traffic" data-url="http://mapquest.com/embed?hk=1boLXro"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#55c4eb;"></div>
      <i class="icon-twitter icon-background"></i>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="muni_powell" data-view="MuniPowell"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="forecast-sf" data-view="Forecast"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="5" data-sizey="1">
      <div data-id="muni_bus" data-view="MuniBus"></div>
    </li>
  </ul>
</div>

