<% content_for :title do %>Sydney Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="clock" data-view="SimpleClock" style="background-color:#A60272;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twitter_pictures" data-view="TwitterPictures" style="background-color:#C09900;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="pivot_faces_sydney" data-view="PivotFaces" style="background-color:#A64723;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="forecast-sydney" data-view="BigForecast" style="background-color:#009198;"></div>
    </li>
  </ul>
</div>

