<% content_for :title do %>Sydney Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="clock" data-view="SimpleClock" style="background-color:#A60272;"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twitter_pictures" data-view="TwitterPictures" style="background-color:#C09900;"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="forecast-sydney" data-view="BigForecast" style="background-color:#009198;"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="mantra" data-view="Mantra"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="2" data-sizey="2">
      <div data-id="calendar_events_sydney" data-pre="0" data-view="Calendar" style="background-color:#18cb6e;"></div>
    </li>
  </ul>
</div>

