<% content_for :title do %>Toronto<% end %>
<div class="gridster">
  <ul>
    <li data-row='1' data-col='1' data-sizex='1' data-sizey='1'>
      <div data-id="forecast-to" data-view="Forecast"></div>
    </li>
    <li data-row='1' data-col='2' data-sizex='2' data-sizey='1'>
      <div data-id="twitter_mentions" data-view="Comments"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="lunch_places_to" data-view="LunchPlaces"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="rotating_clock" data-view="RotatingClock"></div>
    </li>
  </ul>
</div>
