<% content_for :title do %>Toronto<% end %>
<div class="gridster">
  <ul>
    <li data-row='1' data-col='1' data-sizex='1' data-sizey='1'>
      <div data-id="pivot_faces_to" data-view="PivotFaces" style="background-color: #E6772E"></div>
    </li>
    <li data-row='1' data-col='2' data-sizex='1' data-sizey='1';>
      <div data-id="twitter_mentions" data-view="Comments" style="background-color: #4DB3B3"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="3" data-sizey="1">
      <div data-id="calendar_events_to" data-pre="0" data-view="EventList" style="background-color:#07484A;"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="go_train" data-view="GoTrain" style="background-color: white"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="lunch_places_to" data-view="LunchPlaces" style="background-color: #3D4C53"></div>
    </li>
    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="ttc_king" data-view="TtcKing" style="background-color: #E64A45"></div>
    </li>

  </ul>
</div>