// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #7FAF1B;

.widget-lunch-places {
  background-color: $background-color;
  text-align: center;
  color: white;

  h2 {
<<<<<<< HEAD
    font-size: 3rem;
    margin:40px 0;
=======
    font-size: 2.5rem;
    margin:20px 0;
>>>>>>> Add Toronto to Pivotal life
  }

  span {
    font-size: 1.8rem;
    &.star {
      color: #FFCC00;
 
    }
  }
<<<<<<< HEAD
  p.info {
    font-size: 1rem;
    color: #666;
  }
=======
>>>>>>> Add Toronto to Pivotal life
}